name: Password save

volumes:
  bwdata:
    driver: 'local'
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${BASE_STACK_DIR}/app

networks:
  backend_net:
    external: true
    name: network_backend_net

services:
  backup:
   image: bruceforce/vaultwarden-backup:2.1.4@sha256:ede1b229a2dd54af59cda87c086707274ae4073ecd2bde1a8ed9b1281ddc553e
   container_name: vw_backup
   depends_on:
     - save
   volumes:
     - ${BASE_STACK_DIR}/backup:/backup
     - bwdata:/data
   environment:
     - BACKUP_DIR=/backup/db_backup/
     - BACKUP_DIR_PERMISSIONS=750
     - BACKUP_ADD_DATABASE=true
     - BACKUP_ADD_ATTACHMENTS=true
     - BACKUP_ADD_CONFIG_JSON=true
     - BACKUP_ADD_RSA_KEY=true
     - BACKUP_ADD_SENDS=false
     - VW_DATA_FOLDER=/data
     - CRON_TIME=26 14,23 * * *
     - TIMESTAMP=true
     - UID=${UID}
     - GID=${GID}
     - TZ=Europe/Berlin
     - DELETE_AFTER=17
   network_mode: none
   restart: on-failure:10
   init: true

  save:
    image: vaultwarden/server:1.35.3-alpine@sha256:c40957876ec13c1cb0d2b08f86e8f738e6d06f7460bad9cdae216cded174c10d
    container_name: bitwarden
    volumes:
      - bwdata:/data
    environment:
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      - WEBSOCKET_ENABLED=${WEBSOCKET_ENABLED}
      - ROCKET_PORT=8889
    ports:
      - '8889:8889'
     # - 3012:3012
    networks:
      - backend_net
    restart: unless-stopped
    user: "${UID}:${GID}"