name: Password save


services:
  backup:
   image: bruceforce/vaultwarden-backup:latest
   container_name: vw_backup
   depends_on:
     - bitwarden
   environment:
     - BACKUP_DIR=/backup/db_backup/
     - BACKUP_DIR_PERMISSIONS=750
     - BACKUP_ADD_DATABASE=true
     - BACKUP_ADD_ATTACHMENTS=true
     - BACKUP_ADD_CONFIG_JSON=true
     - BACKUP_ADD_RSA_KEY=true
     - BACKUP_ADD_SENDS=false
     - VW_DATA_FOLDER=/data
     - CRON_TIME=26 14,23 * * *
     - TIMESTAMP=true
     - UID=${UID}
     - GID=${GID}
     - TZ=Europe/Berlin
     - DELETE_AFTER=17
   network_mode: none
   volumes:
     - ${BASE_STACK_DIR}/backup:/backup
     - bwdata:/data
   init: true
   restart: on-failure

  bitwarden:
    image: vaultwarden/server:1.34.3-alpine
    container_name: save
    environment:
      - "ADMIN_TOKEN=${ADMIN_TOKEN}"
      - "WEBSOCKET_ENABLED=${WEBSOCKET_ENABLED}"
    ports:
      - '8889:8889'
     # - 3012:3012
    networks:
      - backend_net
    volumes:
      - bwdata:/data
    restart: unless-stopped

volumes:
  bwdata:
    driver: 'local'
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${BASE_STACK_DIR}/app

networks:
  backend_net:
    external: true
    name: network_backend_net
